<?php
$namespaceDefinition

use $useClassName;

/** @noinspection AutoloadingIssuesInspection */
class $className extends $baseClassName
{
    public function up()
    {
    }

    public function down()
    {
    }
}

/*
Valid Column Types

Column types are specified as strings and can be one of:
biginteger, binary, boolean, date, datetime, decimal, float, integer, string, text, time, timestamp, uuid

In addition, the MySQL (json in 5.7 and above) adapter supports:
enum, set, blob json

In addition, the Postgres (9.3 and above) adapter supports:
smallint, json, jsonb, uuid, cidr, inet, macaddr

Valid Column Options

For any column type:
Option 	    Description
limit 	    set maximum length for strings, also hints column types in adapters (see note below)
length 	    alias for limit
default 	set default value or action
null 	    allow NULL values (should not be used with primary keys!)
after 	    specify the column that a new column should be placed after
comment 	set a text comment on the column

For decimal columns:
Option 	    Description
precision 	combine with scale set to set decimal accuracy
scale 	    combine with precision to set decimal accuracy
signed 	    enable or disable the unsigned option (only applies to MySQL)

For enum and set columns:
Option 	    Description
values 	    Can be a comma separated list or an array of values

For integer and biginteger columns:
Option 	    Description
identity 	enable or disable automatic incrementing
signed 	    enable or disable the unsigned option (only applies to MySQL)

For timestamp columns:
Option 	    Description
default 	set default value (use with CURRENT_TIMESTAMP)
update 	    set an action to be triggered when the row is updated (use with CURRENT_TIMESTAMP)
timezone 	enable or disable the with time zone option for time and timestamp columns (only applies to Postgres)

You can add created_at and updated_at timestamps to a table using the addTimestamps() method.
This method also allows you to supply alternative names.

For boolean columns:
Option 	Description
signed 	enable or disable the unsigned option (only applies to MySQL)

For string and text columns:
Option 	Description
collation 	set collation that differs from table defaults (only applies to MySQL)
encoding 	set character set that differs from table defaults (only applies to MySQL)

For foreign key definitions:
Option 	Description
update 	set an action to be triggered when the row is updated
delete 	set an action to be triggered when the row is deleted

You can pass one or more of these options to any column with the optional third argument array.
*/