<?php
$namespaceDefinition

use $useClassName;

/** @noinspection AutoloadingIssuesInspection */
class $className extends $baseClassName
{
    public function up()
    {
    }

    public function down()
    {
    }
}
